In [6]:
#Import libraries
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Question - 1

In [28]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [29]:
#send get request to the webpage server to get the source code of the page
driver.get('https://www.naukri.com/')

#find element for job search bar. Searching job position by 'ID' and location by 'xpath'

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

#to click on search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [30]:
# Now extract all the tags having the job_title
job_title =[]
title_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

#Extract title text from above scraped title_tags with the help of for loop
for i in title_tags[:10]:
    title=i.text
    job_title.append(title)
  
    
# extract all the tags having the job_location
job_location =[]
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Extract location text from above scraped location_tags with the help of for loop
for i in location_tags[:10]:
    location=i.text
    job_location.append(location)


# extract all the tags having the comoany_name
company_name =[]
company_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#Extract company name text from above scraped company_tags with the help of for loop
for i in company_tags[:10]:
    company=i.text
    company_name.append(company)
    
                        
# extract all the tags having the experience_required
experience_required =[]
exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

#Extract experience text from above scraped company_tags with the help of for loop
for i in exp_tags[:10]:
    exp=i.text
    experience_required.append(exp)

#making data frame from above extraxted data
df=pd.DataFrame({'Job_title': job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Job_title,Location,Company,Experience
0,Senior Business Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",Tech Data Advanced Solutions India Pvt Ltd,3-8 Yrs
1,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
2,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
3,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru,Flipkart,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
5,Business Data Analyst(BigId) - Capco - Bangalore,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,3-8 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,ShieldSquare _x001A_,5-10 Yrs
7,Data Analyst,"Kochi/Cochin, Cannanore/Kannur, Nagpur, Calicu...",CINDREBAY SCHOOL OF FASHION & INTERIOR DESIGN,1-4 Yrs
8,Data Analyst,Bangalore/Bengaluru,Titan Consultancy,2-5 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,6-11 Yrs

# Question - 2

In [31]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [32]:
#send get request to the webpage server to get the source code of the page
driver.get('https://www.naukri.com/')

#find element for job search bar. Searching job position by 'ID' and location by 'xpath'

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

#to click on search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [33]:
# Now extract all the tags having the job_title
job_title1 =[]
title_tags1= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags1

#Extract title text from above scraped title_tags with the help of for loop
for i in title_tags1[:10]:
    title1=i.text
    job_title1.append(title1)
  
    
# extract all the tags having the job_location
job_location1 =[]
location_tags1 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Extract location text from above scraped location_tags with the help of for loop
for i in location_tags1[:10]:
    location1=i.text
    job_location1.append(location1)


# extract all the tags having the comoany_name
company_name1 =[]
company_tags1 = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#Extract company name text from above scraped company_tags with the help of for loop
for i in company_tags1[:10]:
    company1=i.text
    company_name1.append(company1)
    
                    

#making data frame from above extraxted data
ds=pd.DataFrame({'Job_title': job_title1,'Location':job_location1,'Company':company_name1})
ds

,Job_title,Location,Company
0,Senior Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Senior Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.
3,Senior Data Scientist- Data & Analytics,Bangalore/Bengaluru,ExecBoardinAsia
4,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Daksh Services
5,Data Scientist,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Toppr
6,Process Innovation Analyst - APAC/Data Scienti...,"Bangalore/Bengaluru, Hyderabad",Bayer
7,Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.
8,Data Scientist,Bangalore/Bengaluru(HSR Layout),Mobiotics IT Solution Pvt Ltd
9,Data Scientist,Bangalore/Bengaluru,Hitachi Ltd.

# Question - 3

In [7]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [18]:
#send get request to the webpage server to get the source code of the page
driver.get('https://www.naukri.com/')

#find element for job search bar. Searching job position by 'ID' and location by 'xpath'

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Delhi/NCR')

#to click on search button
search_btn = driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [ ]:
#selecting salary range 3-6 lakhs
search_sal=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
search_sal.click()

In [27]:
# Now extract all the tags having the job_title
ds_title =[]
ds_tags= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

#Extract title text from above scraped title_tags with the help of for loop
for i in ds_tags[:10]:
    d_title=i.text
    ds_title.append(d_title)
ds_title 
    
# extract all the tags having the job_location
ds_location =[]
loc_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

#Extract location text from above scraped location_tags with the help of for loop
for i in loc_tags[:10]:
    loc=i.text
    ds_location.append(loc)
ds_location

# extract all the tags having the comoany_name
ds_company =[]
comp_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

#Extract company name text from above scraped company_tags with the help of for loop
for i in comp_tags[:10]:
    comp=i.text
    ds_company.append(comp)
ds_company  
                        
# extract all the tags having the experience_required
ds_experience_required =[]
ds_exp_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

#Extract experience text from above scraped company_tags with the help of for loop
for i in ds_exp_tags[:10]:
    ds_exp=i.text
    ds_experience_required.append(ds_exp)
ds_experience_required

#making data frame from above extraxted data
df=pd.DataFrame({'Job_title': ds_title,'Location':ds_location,'Company':ds_company,'Experience':ds_experience_required})
df

,Job_title,Location,Company,Experience
0,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix Daksh Services,3-8 Yrs
1,Data Scientist/ Analyst Specialist,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",TransOrg Solutions Services (P) Ltd.,1-4 Yrs
2,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.,4-9 Yrs
3,Conservation Data Scientist,"Dehradun, New Delhi",World Wide Fund For Nature India,5-10 Yrs
4,Data Scientist: Advanced Analytics,Delhi / NCR,IBM India Pvt. Limited,2-7 Yrs
5,Data Scientist - Insurance,"Noida, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,5-8 Yrs
6,Manager - Data Scientist/Python,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,7-10 Yrs
7,Senior Data Scientist,Noida(Sector-126 Noida),AUDAX LABS PRIVATE LIMITED,0-2 Yrs
8,Data Scientist,Gurgaon/Gurugram,Editorialist YX,5-9 Yrs
9,Senior Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",SPOTALENT,3-6 Yrs

# Question - 4

In [109]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [110]:
#send get request to the webpage server to get the source code of the page
driver.get('https://www.flipkart.com/')

try:
    search_btn=driver.find_element_by_xpath("//button[@class= '_2KpZ6l _2doB4z']")
    search_btn.click()
except:
    pass
    
#To click on search button
search_field = driver.find_element_by_name('q')
search_field.send_keys('sunglasses')
search_bt = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_bt.click()

In [111]:
# Now extract all the tags having the Brand name
Brand=[]
tags1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

#Extract brand text from above scraped tags with the help of for loop
for i in tags1:
    brand=i.text
    Brand.append(brand)
    
# extract all the tags having the Product_Description
Product_Description =[]
prod_des = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

#Extract Product_Description text from above scraped tags with the help of for loop
for i in prod_des:
    product_des=i.text
    Product_Description.append(product_des)

# extract all the tags having the Price
Price =[]
pr = driver.find_elements_by_xpath("//div[@class='_30jeq3']")

#Extract price text from above scraped tags with the help of for loop
for i in pr:
    price=i.text
    Price.append(price)

In [112]:
# Now clicking on next page-2
print("page2")
page2 = driver.find_element_by_xpath("//a[@class='_1LKTO3']")
page2.click()

page2

In [113]:
# extracting brand from next page

tags2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in tags2:
    b1=i.text
    Brand.append(b1)
    
# extracting product_description from next page

prod_des1 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_des1:
    p_des1=i.text
    Product_Description.append(p_des1)
    
# extracting price from next page

pr1 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pr1:
    price1=i.text
    Price.append(price1)

In [114]:
# Now clicking on next page-3
print("page3")
page2 = driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]")
page2.click()

page3

In [115]:
# extracting brand from next page

tags3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in tags3[0:20]:
    b2=i.text
    Brand.append(b2)
    
# extracting product_description from next page

prod_des2 = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in prod_des2[0:20]:
    p_des2=i.text
    Product_Description.append(p_des2)
    
# extracting price from next page

pr2 = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in pr2[0:20]:
    price2=i.text
    Price.append(price2)

#making data frame from above extraxted data
ds=pd.DataFrame({'Brand': Brand,'Product_Description':Product_Description,'Price':Price})
ds

             Brand                                Product_Description Price
0    VINCENT CHASE  Polarized, UV Protection Wayfarer Sunglasses (57)  ₹799
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹999
2             SRPM             UV Protection Wayfarer Sunglasses (56)  ₹188
3           SUNBEE  UV Protection, Polarized, Mirrored Round Sungl...  ₹276
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹639
..             ...                                                ...   ...
95          AISLIN             UV Protection Wayfarer Sunglasses (55)  ₹421
96       ROYAL SON   UV Protection Rectangular Sunglasses (Free Size)  ₹449
97  kingsunglasses  UV Protection, Others Round, Aviator Sunglasse...  ₹189
98           Fravy  UV Protection Retro Square Sunglasses (Free Size)  ₹269
99   VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...  ₹799

[100 rows x 3 columns]

# Question - 5

In [207]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [ ]:
# send get request to the webpage server to get the source code of the page
driver.get('s://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC 
TSVZAXUHGREPBFGI&marketplace')

#Above link is not available so unable to scrap from it

# Question - 8

In [116]:
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

In [122]:
#send get request to the webpage server to get the source code of the page
driver.get('https://www.amazon.in/')

#To click on search button
search_field = driver.find_element_by_id('twotabsearchtextbox')
search_field.send_keys('Laptop')
search_bt = driver.find_element_by_id('nav-search-submit-button')
search_bt.click()

In [123]:
#selecting CPU Type filter to “Intel Core i7” and “Intel Core i9” 
search_i7=driver.find_element_by_xpath("//span[text()='Intel Core i7']")
search_i7.click()

# filter for “Intel Core i9” is not availale on webpage



# Now extract all the tags having the title name
Title=[]
t1=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

#Extract title text from above scraped tags with the help of for loop
for i in t1[:10]:
    title=i.text
    Title.append(title)
    
# extract all the tags having the Ratings
Ratings =[]
r1 = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")

#Extract Rating text from above scraped tags with the help of for loop
for i in r1[:10]:
    rating=i.text
    Ratings.append(rating)

# extract all the tags having the Price
Price_laptop=[]
p1 = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

#Extract price text from above scraped tags with the help of for loop
for i in p1[:10]:
    p_laptop=i.text
    Price_laptop.append(p_laptop)
    
ds=pd.DataFrame({'Tittle': Title,'Ratings':Ratings,'Price':Price_laptop})
ds

                                              Tittle Ratings     Price
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...            56,990
1  HP Envy Intel 11th Gen Core i7 Processor 13.3 ...          1,24,000
2  Mi Notebook Horizon Edition 14 Intel Core i7-1...            56,990
3  HP Pavilion (2021) Intel 11th Gen Core i7 14 i...            84,990
4  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...            93,990
5  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...          1,13,990
6  Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...            95,890
7  HP Pavilion x360 11th Gen Intel Core i7 14-inc...            84,990
8  HP Pavilion 13(2021) 11th Gen Intel Core i7 13...            89,700
9  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            85,990

# Question - 9

In [201]:
# def Top10job(link):
    
#lets connect to webdriver
driver = webdriver.Chrome(r"C:\Users\roshan.LAPTOP-IHN8RLL4\Downloads\chromedriver_win32/chromedriver.exe")

#send get request to the webpage server to get the source code of the page
driver.get('https://www.ambitionbox.com/')

#To click on jobs button
search_field = driver.find_element_by_xpath("//a[@class='link jobs']")
search_field.click()

#     return

In [154]:
Top10job('https://www.ambitionbox.com/')

In [202]:
#To click on search button
search_j = driver.find_element_by_name('ab_jobsSearch')
search_j.send_keys('Data Scientist')
search_btn = driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")
search_btn.click()

In [203]:
#search location 
select_loc = driver.find_element_by_xpath("//div[@title='Location']")
select_loc.click()

In [204]:
enter_loc = driver.find_element_by_xpath("//input[@placeholder='Search locations']")
enter_loc.send_keys('Noida')

In [205]:
select_Noida = driver.find_element_by_xpath("//label[@for='location_Noida']")
select_Noida.click()

In [206]:
# Now extract all the tags having the title company name
Com_name=[]
com=driver.find_elements_by_xpath("//a[@class='title noclick']")

#Extract company text from above scraped tags with the help of for loop
for i in com[:10]:
    C=i.text
    Com_name.append(C)
    
# extract all the tags having the Ratings
Rating_com =[]
r_com = driver.find_elements_by_xpath("//span[@class='body-small']")

#Extract Rating text from above scraped tags with the help of for loop
for i in r_com[:10]:
    rati=i.text
    Rating_com.append(rati)

# extract all the tags having the days
Days=[]
D = driver.find_elements_by_xpath("//span[@class='body-small-l']")

#Extract days text from above scraped tags with the help of for loop
for i in D[:20:2]:
    d=i.text
    Days.append(d)
    
ds=pd.DataFrame({'Company': Com_name,'When':Days,'Rating':Rating_com})
ds

                                             Company      When Rating
0                                     Data Scientist   12d ago    4.1
1      Urgent Requirement || Data Scientist || Noida    5d ago    4.1
2                          Group Lead-Data Scientist    7d ago    4.1
3  Jubilant FoodWorks - Data Scientist - Deep Lea...    4d ago    3.9
4          Urgent Vacancy || Data Scientist || Noida   24d ago    4.1
5      Urgent Requirement || Data Scientist || Noida   24d ago    4.1
6                              Senior Data Scientist  1mon ago    3.8
7  Manager - Data Scientist - Retail/BFSI (8-15 yrs)    1d ago    3.9
8       Data Scientist - Machine Learning (5-14 yrs)    6d ago    4.2
9  Data Scientist - Data Science/Model Developmen...    4d ago    3.9